<!DOCTYPE html>
<html>
  <head>
    <title>MessageApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



  </head>

  <body>



  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Message Application", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if !user_signed_in? %>
            <li><%= link_to "Sign up", new_user_registration_path %> </li>


<% end %>

        <li><%= link_to "Categories", categories_path %></li>
        <% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Action Panel<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "New category", new_category_path , method: :get %></li>
            <li><%= link_to "New message", new_message_path %></li>









          </ul>
        </li>
        <% end %>
      </ul>
      <div class="col-sm-4 col-xs-4 col-md-4">
        <%= form_tag messages_path, class: "navbar-form", :method => 'get' do %>
            <div class="form-group">
              <%= text_field_tag :search, params[:search],  class: "form-control input-sm" %>
            </div>
            <%= submit_tag "Search", :name => nil,  class: "btn btn-default btn-sm" %>
        <% end %>


      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">User Panel<b class="caret"></b></a>
          <ul class="dropdown-menu">

            <li><a href="#"><i class="glyphicon glyphicon-user"></i>  <%= current_user.email %> </a></li>
            <li><%= link_to "Edit profile", edit_user_registration_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>

          </ul>
        </li>
            <% end %>

        <% if !user_signed_in? %>
        <li><%= link_to "Log in", new_user_session_path %></li>

        <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>













<div class="container">
  <p class="notice"><%= notice %> </p>
  <p class="alert"><%= alert %> </p>
    <%= yield %>
</div>
  </body>
</html>
